.jumbotron{
  background:url('../../assets/images/bg.jpg');
  background-size: cover;
  background-position: 100% 80%;
  height: 90vh;
}


.jumbutton{
  background: green;
  outline: none;
}

.top-container{
  padding: 50px 10px;
}

.thumbimg{
  width: 50px;
}
